body {
    background-color: #131515;
    width: 100vw;
    height: 1000px;
    background-image: url(../images/dark\ background.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: initial;
}

.LOGO {
    width: 150px;
    height: 150px;
    float: left;
    
    margin-bottom: 30px;
    
}
 
.nav-list {
    list-style: none;
    float: left;
    margin-top: 60px;
}

.nav-list li {
    display: inline-block;
    margin: 0 auto;
    padding-left: 100px;
}

.nav-list li a {
    font-size: 30px;
    color: #dfdfdf;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav-list li a:hover {
   border-bottom: #7DE2D1 solid 4px;

}


.left{
    background-color:#131515;
    height: auto;
 
 color: rgb(255, 255, 255);
 background-color: #0000006f;
 border: solid 1px #7DE2D1;
 border-radius: 40px;

}
.right{
    background-color: rgba(184, 147, 147, 0);
    height: 100vh;
   float: right;
  
}



.space1{
    background-color:#131515 ;
    height: 90vh;


}
.space1{
    background-color:#131515 ;
    height: 90vh;


}
.Movie-picture{
    height: 89vh;
  
    width:400px;
    margin-left: 20%;

    

   

}
.open{
    height: 185px;
    
    text-align: center;
    padding-top: 20px;
}

.footer{
   
    background-color: rgba(184, 147, 147, 0);
    height: 100px;
}
.left-child-one{
   
    height: 170px;
   
    
}
.Date{
  text-align: left;  
  width: 150px;
  height: 50px;
 
  float: left;
  padding: 15px;

}
.Dur{
    float: left;
    padding-top: 20px;
}

.title{
  text-transform: capitalize;
    float: left;
    margin-left: 2%;
   
  
   
}
.Speak{
  
    width: 150px;
    margin-left: 10px;
   
}
.Age-rating{
    
margin-left:5px ;
}
.left-child-two{
 
    height: auto;
    
   
}
.descriptin{
  width: 90%;  
 
  height: auto;
  word-wrap: break-word
}
.left-child-three{
    
    height: auto;
 
}
.Sep-line{
    background-color: #dfdfdf;
    width: 400px;
    height: 3px;
   

  
}#thum-up{
 float: left;
 margin-right: 15px;
}
.Button-block{
    float: right;
 
    width: 450px;
    height: auto;
    padding: 20px;
}
.Watch-button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: darkslategrey;
    color: honeydew;
    text-align: center;
    padding-top: 10px;
    
}
.Watch-button:hover{
   background-color: #7DE2D1;
   color: #000;
}

.Watchlater-button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
   text-decoration: underline;
    color: honeydew;
    text-align: center;
    margin-top: 10px;
 
    
   
}
.Watchlater-button:hover{
   
   color: rgb(78, 203, 231);
}

.back-img{
    height: 600px;
    
    background-image: url(../images/beauty&thebeast.jpg);
    background-size: cover;
   background-position: center;
    
}
.hover{
    background-image: url(../images/img-grad.png);
    
    background-size: cover;
  
   
    height: 600px;
    margin:  0 auto;
    padding: 0 auto;
}
/*footer*/
.footer {
  width: auto;
  height: 100px;
  
  padding-left: 100px;
  padding-top: 50px;
  margin-top: 100px;
}

.footer h3 {
  color: #ffffff;
  font-size: 18px;
  font-family: 'RocknRoll One', sans-serif;
}

.socials {
 float: right;
 margin-right: 122px;
 margin-top: -30px;
}

.socials a svg {
  margin-left: 20px;
  width: 50px;
  height: 50px;

}

.socials a svg circle, .socials a svg path
{
  stroke: #ffffff;
}

.socials a svg:hover circle, .socials a svg:hover path

{
  stroke: #ffa500;
  cursor: pointer;
}
.Vote-ammount{
    float: left;
    padding-top: 20px;
   
    width: 20%;
    height: auto;
    word-wrap: break-word
}
.two-buttons{
  
     height: 100px;
     width: 210px;
     float: right ;
    padding-top: 10px; ;
    margin-right: 10%;
}
.thum-block{
    float:right ;
    margin-right: 60px;
  
}

