body {
    background-color: #131515;
    width: 100vw;
    height: 950px;
    background-image: url(../images/dark\ background.jpg);
    background-size: cover;
}

.LOGO {
    width: 150px;
    height: 150px;
    float: left;
    
    margin-bottom: 30px;
    
}
 
.nav-list {
    list-style: none;
    float: left;
    margin-top: 60px;
}

.nav-list li {
    display: inline-block;
    margin: 0 auto;
    padding-left: 100px;
}

.nav-list li a {
    font-size: 30px;
    color: #dfdfdf;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav-list li a:hover {
   border-bottom: #7DE2D1 solid 4px;

}


.left{
    background-color:#131515;
    height: 100vh;
 
 color: rgb(255, 255, 255);
 background-color: #0000006f;
 border: solid 1px #7DE2D1;
 border-radius: 40px;

}
.right{
    background-color: rgba(184, 147, 147, 0);
    height: 100vh;
   float: right;
  
}



.space1{
    background-color:#131515 ;
    height: 90vh;


}
.space1{
    background-color:#131515 ;
    height: 90vh;


}
.Movie-picture{
    height: 89vh;
  
    width:400px;
    margin-left: 20%;

    

   

}
.open{
    height: 185px;
    background-color: rgba(184, 147, 147, 0);
    text-align: center;
    padding-top: 20px;
}

.footer{
   
    background-color: rgba(184, 147, 147, 0);
    height: 100px;
}
.left-child-one{
   
    height: 150px;
   
    
}
.text-genre{
  text-align: left;  
  width: 150px;
  height: 50px;
 
  float: left;
  padding: 15px;

}
.genre{
    float: left;
    padding-top: 20px;
}

.title{
  text-transform: capitalize;
    float: left;
    margin-left: 2%;
   
  
   
}
.studio{
   
    width: 150px;
    margin-left: 10px;
   
}
.Age-rating{
    
margin-left:5px ;
}
.left-child-two{
   
    height: 170px;
}
.left-child-three{
    
    height: 200px;
 
}
.Sep-line{
    background-color: #dfdfdf;
    width: 400px;
    height: 3px;
   

  
}#thum-up{
    float:right ;
    margin-right: 80px;
}
.Button-block{
    float: right;
  
    width: 450px;
    height: 100px;
    padding: 20px;
}
.Watch-button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: darkslategrey;
    color: honeydew;
    text-align: center;
    float: right ;
    padding-top: 10px; ;
    margin-right: 10%;
}

