body {
    background-color: #131515;
    width: 100vw;
    height: 100vh;
}

.LOGO {
    width: 150px;
    height: 150px;

    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
}
 

.hero {
    height: 100vh;
    width: 100%;
    background-image:  url(../images/banner.jpg) ;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 300px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn-log {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.toggle-btn-reg {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #7DE2D1,#54e2ec);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.username {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.password {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.message{    
    position: absolute;
    bottom: 10px;
    left: 27%;
    margin: 0 auto;    
    height: 31px;
    font-size: 14px;
    
    border-radius: 10px;   
    text-align: center;
    color: white;
    width: 50%;
    
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #7DE2D1,#54e2ec);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
} 
span {
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}

#login {
    left: 15px;
    transition: all 0.5s ease-out;
}

#register {
    left: 450px;
    transition: all 0.5s ease-out;
    
}