*  {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


body {
  background-color: #131515;
  width: 100vw;
}

/* 
.header-home {
  background-color: #ffffff11;
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
} */

.LOGO {
    width: 50px;
    height: 50px;
    
    
}
 
h5 {
  font-size: 50px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
  padding-right: 50px;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 50px;
  font-size: 20px;

}

.navbar-nav .nav-link {
  color: #7DE2D1;
}

/* .nav-link-log {
  color: white;
  padding-right: 50px;
  font-size: 20px;
} */

/* .nav-link-log:hover {
  color: #7DE2D1;
} */

.navbar-light .navbar-toggler {
  color: rgb(0 0 0 / 55%);
  border-color: #7DE2D1;
  background-color: white;
}



.navbar-toggler {
  color: white;
}




.space {
  height: 150px;
}

.space h1 {

  color: white;
  border-bottom: white 2px solid;
  width: 350px;
  margin-left: 50px;
  margin-top: 80px;
}

.card-container {
  height: 600px;
  margin-top: 35px;
  
 
}

.card {
  width: 80%;
  height: 450px;
  margin: 0 auto;
  

  /* box-shadow: 7px 8px 10px -1px #7DE2D1;
-webkit-box-shadow: 7px 8px 10px -1px #7DE2D1;
-moz-box-shadow: 7px 8px 10px -1px #7DE2D1; */
  border: solid black 2px;
  cursor: pointer;

}

.card:hover {
  box-shadow: 13px 12px 21px -7px #7DE2D1;
-webkit-box-shadow: 13px 12px 21px -7px #7DE2D1;
-moz-box-shadow: 13px 12px 21px -7px #7DE2D1;

  
  transition: all 0s ease-in-out;
}

.img-top {
  width: 100%;
  height: 400px;
  overflow: hidden;
  
}

.card-body {
  width: 100%;
  height: 30%;
  background-color: rgb(28, 28, 31);
  position: relative;
  overflow: hidden;
  text-overflow: clip; 
}

.card-body h3 {
  color: white;
  font-size: 15px;
}

.btn {
  width: 120px;
  height: 30px;
  background-color: rgb(136, 2, 2);
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  border: #7DE2D1 solid 1px;
  transition: all 0s ease-in-out;
  background-color: rgb(19, 0, 0);
  color: white;

  /* box-shadow: 13px 12px 6px -2px rgba(116, 51, 51, 0.59),13px 12px 6px -2px rgba(0,0,0,0.59), 13px 12px 6px -2px rgba(0,0,0,0.59);
  transition: all 0s ease-in-out; */

}

.card-body h4 {
  font-size: 15px;
  text-align: center;
  color: white;
}

.add {
  position: absolute;
  bottom: 15px;
  right: 10px;
 
}



.card-body h2 {
  color: green;
  position: absolute;
  bottom: 40px;
  font-size: 15px;
}



.space-2 {
  height: 500px;
}

.space-2 h1 {
  color: white;
  text-align: center;
  border-bottom: white 2px solid;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.space-2 p {
  color: white;
  text-align: center;
  font-size: 30px;
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}











/* FOOTER */



.h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 50px;
}

.col-6 {
  
}
