*  {
  margin: 0;
  padding: 0;
}


body {
  background-color: #131515;
  width: 100vw;
}


.header-home {
  background-color: #ffffff11;
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}

.LOGO {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
}
 
.nav-list {
    list-style: none;
    float: left;
    margin-top: 60px;
}

.nav-list li {
    display: inline-block;
    margin: 0 auto;
    padding-left: 200px;
    text-align: center;
}

.nav-list li a {
    font-size: 30px;
    color: #dfdfdf;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav-list li a:hover {
   border-bottom: #7DE2D1 solid 4px;

}

.burger {
  display: none;
  float: right;
  margin-right: 5px;
}

.overlay {
  width: 200px;
  height: 500px;
  background-color: red;
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  
}


.intro {
  width: 700px;
  height: 500px;
  background-color: #000000c4;
  margin-left: 950px;
  margin-top: 50px;

  box-shadow: 21px 19px 23px 3px rgba(0,0,0,0.87);
-webkit-box-shadow: 21px 19px 23px 3px rgba(0,0,0,0.87);
-moz-box-shadow: 21px 19px 23px 3px rgba(0,0,0,0.87);

border: solid 1px #7DE2D1;
border-radius: 40px;
}
  
.intro h1 {
  text-align: center;
  color: white;
  margin-top: 30px;
  border-bottom: white 2px solid;

}

.intro p {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 50px;
 
}



.space {
  height: 150px;
}

.space h1 {

  color: white;
  border-bottom: white 2px solid;
  width: 300px;
  margin-left: 50px;
  margin-top: 80px;
}

.card-container {
  height: 600px;
  margin-top: 35px;
  
 
}

.card {
  width: 80%;
  height: 550px;
  margin: 0 auto;
  

  /* box-shadow: 7px 8px 10px -1px #7DE2D1;
-webkit-box-shadow: 7px 8px 10px -1px #7DE2D1;
-moz-box-shadow: 7px 8px 10px -1px #7DE2D1; */
  border: solid black 2px;
  cursor: pointer;

}

.card:hover {
  box-shadow: 7px 8px 10px -1px #7DE2D1, 7px 8px 10px -1px #7DE2D1, 7px 8px 10px -1px #7DE2D1;
  transition: all 0s ease-in-out;
}

.img-top {
  width: 100%;
  height: 70%;
  
}

.card-body {
  width: 100%;
  height: 30%;
  background-color: rgb(28, 28, 31);
  position: relative;
  overflow: hidden;
  text-overflow: clip; 
}

.card-body h3 {
  color: white
}

.btn {
  width: 150px;
  height: 50px;
  background-color: rgb(136, 2, 2);
  position: absolute;
  bottom: 10px;
  cursor: pointer;

}

.btn:hover {
  border: #7DE2D1 solid 1px;
  transition: all 0s ease-in-out;
  background-color: rgb(19, 0, 0);
  color: white;

  /* box-shadow: 13px 12px 6px -2px rgba(116, 51, 51, 0.59),13px 12px 6px -2px rgba(0,0,0,0.59), 13px 12px 6px -2px rgba(0,0,0,0.59);
  transition: all 0s ease-in-out; */

}

.card-body h4 {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.add {
  position: absolute;
  bottom: 15px;
  right: 20%;
}

.card-body h2 {
  color: green;
  float: right;
  position: absolute;
  right: 5px;
  bottom: 0px;
}



.space-2 {
  height: 500px;
}

.space-2 h1 {
  color: white;
  text-align: center;
  border-bottom: white 2px solid;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.space-2 p {
  color: white;
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}











/* FOOTER */

.footer {
  width: auto;
  height: 200px;
  background-color: #212222;
  padding-left: 100px;
  padding-top: 50px;
}

.footer h3 {
  color: #0d5c75;
  font-size: 18px;
  font-family: 'RocknRoll One', sans-serif;
}

.socials {
 float: right;
 margin-right: 122px;
 margin-top: -30px;
}

.socials a svg {
  margin-left: 20px;
  width: 50px;
  height: 50px;

}

.socials a svg circle, .socials a svg path
{
  stroke: #0d5c75;
}

.socials a svg:hover circle, .socials a svg:hover path

{
  stroke: #ffa500;
  cursor: pointer;
}