body {
    background-color: #131515;
    width: 100vw;
    height: 1500px;
    margin: 10px;
    overflow-x: hidden;
}

.headerContainer {
    max-width: 90%;
}

.LOGO {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 100px;
    margin-bottom: 30px;
}

.LOGO-m {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-bottom: 30px;
}

.burgerMenu {
    color: whitesmoke;
    float: right;
}

.nav-list {
    list-style: none;
    float: left;
    margin-top: 60px;
    margin-left: 5%;
}

.nav-list li {
    display: inline-block;
    margin-left: 150px;
}

.nav-list li a {
    font-size: 30px;
    color: #dfdfdf;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav-list li a:hover {
    border-bottom: #7DE2D1 solid 4px;
}

h1 {
    color: #dfdfdf;
    padding-left: 20px;
    padding-right: 20px;
}

.nonsearchDisplay {
    width: 100%;
}

.searchDisplay {
    width: 100%;
}

.movieDisplayRowContainer {
    max-width: 1315px;
}

.movieDisplayRow {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1315px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

.card {
    float: left;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0;
    height: 435px;
    width: 250px;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0s ease-in-out;
}

.card-footer {
    background-color: whitesmoke;
}

.img_con {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.addToList {
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.filtersearchcontainer {
    width: 100%;
    color: #dfdfdf;
    padding-left: 20px;
    padding-right: 20px;
}

.searchinput {
    width: 250px;
}

.searchCard {
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}


/* FOOTER */

.footer {
    width: auto;
    height: 125px;
    background-color: #212222;
    padding-left: 100px;
    padding-top: 50px;
}

.footer h3 {
    color: #0d5c75;
    font-size: 18px;
    font-family: 'RocknRoll One', sans-serif;
}

.socials {
    float: right;
    margin-right: 122px;
    margin-top: -30px;
}

.socials a svg {
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.socials a svg circle,
.socials a svg path {
    stroke: #0d5c75;
}

.socials a svg:hover circle,
.socials a svg:hover path {
    stroke: #ffa500;
    cursor: pointer;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


/* Style the hamburger menu */

.topnav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the active link (or home/logo) */

.active {
    /* background-color: #04AA6D; */
    color: white;
}





