* {
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 0%;
}
/* STYLING FOR THE HEADER AND NAV */
body {
    background-color: #131515;
    width: 100vw;
    
}
.LOGO {
  width: 50px;
  height: 50px;
  
  
}

h5 {
font-size: 50px;
}



.navbar-light .navbar-toggler {
  color: rgb(0 0 0 / 55%);
  border-color: #7DE2D1;
  background-color: white;
}



.navbar-toggler {
  color: white;
}

.profile {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 25px;
}

.header {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-bottom: white 2px;
    text-align: center;
    padding-top: 100px;
}
h1 {
    color: white;
    font-size: 50px;   
}




p {
  color: white;
  font-size: x-large;
}
#movie-cards {

  width: 400px;
  background-color: white;
  height: 500px;
  margin-left: 200px;
  margin-bottom: 50px;
}