* {
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 0%;
}
/* STYLING FOR THE HEADER AND NAV */
body {
    background-color: #131515;
    width: 100vw;
    
}

.LOGO {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 100px;
    margin-bottom: 30px;
}
 
.nav-list {
    list-style: none;
    float: left;
    margin-top: 60px;
    margin-left: 5%;

}

.nav-list li {
    display: inline-block;
    margin-left: 150px;
}

.nav-list li a {
    font-size: 30px;
    color: #dfdfdf;
    text-decoration: none;
    padding-bottom: 10px;
}

.nav-list li a:hover {
   border-bottom: #7DE2D1 solid 4px;

}
nav {
    
    height: 20vh;
}
/* END OF STYLING FOR THE HEADER AND NAV */




/* HAMBURGER MENU STYLING */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}
/* END OF HAMBURGER MENU STYLING */


.header {
    height: 500px;
    width: 100%;
    margin: auto;
    
    text-align: center;
}
h1 {
    color: white;

    
}